

.brand_logo {
    margin-right: 50px;
}

.header_left {
    align-items: center;
    display: flex;
}

.brand_logo img {
    width: 100%;
    max-width: 160px;
    vertical-align: middle;
}

.header_desktop .header_left ul ,.header_right ul{
    display: flex;
    padding:  0;
    gap: 10px;
}

.header_desktop .header_left ul li,.header_desktop .header_right ul li {
    width: unset;
}

.header_desktop .header_left ul li a {
    color: var(--white);
    text-decoration: none;
    padding: 5px 15px;
}


.header_desktop .header_right ul li a {
    padding: 0;
    color: var(--white);
    width: 24px;
    height: 24px;
    justify-content: center;
}

.header_desktop .header_right ul li a svg{
    width: 24px;
    height: 24px;
}

.header_desktop .header_right ul {
    gap: 30px;
}

.header_desktop .header_left ul li a:hover{
    color: var(--secondary);
    transition: 0.5s all;
}
.header_wrapper {
    padding: 10px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header_right {
    display: flex;
    align-items: center;
}


@media screen and (max-width: 991px) {
    .header_wrapper {
        padding: 10px 15px;
    }
    
    .brand_logo {
        margin-right: 15px;
    }
    
    .header_desktop .header_right ul {
        gap: 15px;
    }

    .brand_logo img {
        width: 100%;
        max-width: 120px;
        vertical-align: middle;
    }

    .header_desktop .header_right ul li a svg {
        width: 20px;
        height: 20px;
    }

    .header_desktop .header_left ul li a {
        font-size: 14px;
        padding: 5px 10px;
    }

    .header_desktop .header_left ul  {
        gap: 0;
    }
}