/***************** Common Css ****************/

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Futura Bk BT';
  src: url('/fonts/FuturaBT-Book.eot');
  src: url('/fonts/FuturaBT-Book.eot?#iefix') format('embedded-opentype'),
    url('/fonts/FuturaBT-Book.woff2') format('woff2'),
    url('/fonts/FuturaBT-Book.woff') format('woff'),
    url('/fonts/FuturaBT-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura Md BT';
  src: url('/fonts/FuturaBT-Medium.eot');
  src: url('/fonts/FuturaBT-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/FuturaBT-Medium.woff2') format('woff2'),
    url('/fonts/FuturaBT-Medium.woff') format('woff'),
    url('/fonts/FuturaBT-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura Hv BT';
  src: url('/fonts/FuturaBT-Heavy.eot');
  src: url('/fonts/FuturaBT-Heavy.eot?#iefix') format('embedded-opentype'),
    url('/fonts/FuturaBT-Heavy.woff2') format('woff2'),
    url('/fonts/FuturaBT-Heavy.woff') format('woff'),
    url('/fonts/FuturaBT-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Epilogue", sans-serif;
  font-size: 14px;
  font-weight: 500;
}


:root {
  --primary: #173D3D;
  --white: #ffffff;
  --black: #000000;
  --light: #FFE6A8;
  --secondary: #F6B41B;
  --light_clr: #F7F0DF;
  --cream: #D1AC70;
  --secondary-dark: #092626;
  --gray: #F4F6F8;
  --background-gradient: linear-gradient(190deg, var(--primary), var(--black), var(--secondary-dark));
}


/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #e0dfdf;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #696969;
  border-radius: 10px;
  height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #173d3d99;
   height: 10px;
}


body.dark-mode {
  background: var(--background-gradient);
  color: var(--white);
}


.modal_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed rgba(145, 158, 171, 0.7);
  padding: 24px;
  padding-bottom: 10px;
}

.modal_head h6 {
  font-size: 16px;
  font-weight: 700;
}

.modal_body {
  padding: 15px 24px;
}

.modalTitle {
  font-size: 1.25rem;
  font-weight: 500;
}

.closeIcon {
  position: absolute;
  right: 10px;
  top: 5px;
  line-height: normal;
  cursor: pointer;
}

.mb-50 {
  margin-bottom: 50px;
}

.sec_title {
  font-size: 20px;
  font-weight: 700;
}


.mainTitle {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--cream);
}



/***************** Common Css ****************/



/***************** Home Page Css ****************/

.chart_bottom h1 {
  font-size: 32px;
  font-weight: 700;
}

.sec_title {
  font-size: 20px;
  font-weight: 700;
}

.chart_data {
  font-family: "Epilogue", sans-serif;
}


.chart_actions button.active {
  background: #173D3D;
}

.chart_actions .MuiButton-contained {
  background: var(--primary);
  color: var(--white);
  border: unset;
}

.chart_actions button {
  border: unset;
}

.chart_actions {
  background: var(--light_clr);
  border-radius: 30px;
}


body.dark-mode .white_box {
  background: var(--primary);
  color: var(--white);
}

.swap_graph_sec {
  padding-top: 50px;
}

.white_box {
  padding: 30px;
  background: var(--white);
  border-radius: 20px;
}

.toolbar-button {
  background: var(--light_clr);
  display: inline-block;
  border-radius: 30px;
}

body.dark-mode .toolbar-button {
  background: #092626;
}

body.dark-mode .toolbar-button button {
  color: var(--cream);
}

body.dark-mode .toolbar-button button.active {
  background: var(--cream);
  color: var(--primary);
}


.toolbar-button button {
  background: unset;
  border: unset;
  padding: 5px;
  font-weight: 700;
  color: var(--primary);
  font-size: 14px;
  padding: 10px 15px;
}

.toolbar-button button.active {
  background: var(--primary);
  border-radius: 30px;
  color: var(--white);
}


.toolbar-button button.active:not(:disabled) {
  background: var(--primary);
  border-radius: 30px;
  color: var(--white);
}

.toolbar-button button:disabled,body.dark-mode .toolbar-button button:disabled{
  background: var(--gray); /* Example disabled state color */
  color: var(--light-gray);
  cursor: not-allowed;
  pointer-events: none; /* Prevent click events */
}


.chart_title svg,
.chart_resize svg {
  fill: var(--cream);
  width: 21px;
  height: 21px;
  cursor: pointer;
  stroke: var(--cream);
}


.SwapWidgetInner .inputBox .inputField {

  background: var(--light_clr);
  padding: 10px;
  border-radius: 10px;
}

.dark-mode .SwapWidgetInner .inputField {
  background: var(--secondary-dark);
}


.dark-mode .SwapWidgetInner input {
  color: var(--white);
}


.dark-mode .SwapWidgetInner p {
  color: var(--white);
}


.SwapWidgetInner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 970px;
}

.inputBox input {
  width: 100%;
  font-size: 14px;
  border: unset;
  background-color: transparent;
  font-weight: 600;
}

input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
  /* Standard */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputBox input:focus-visible {
  border: unset;
  outline: unset;
}

.swapData svg {
  width: 18px;
  height: 18px;
}

.swapData {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--cream);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.arrowBox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.SwapWidgetBox {
  padding: 20px;
  position: absolute;
  background: var(--primary);
  top: 0;
  border-radius: 20px;
  color: var(--white);
  bottom: unset;
  margin-right: -40px;
  margin-top: -24px;
  right: 0;
  flex-wrap: wrap;
  display: inline-flex;
  max-width: 190px;
}

body.dark-mode .SwapWidgetBox {
  background: var(--light);
  color: var(--primary);
}

.widgetList ul .MuiButtonBase-root.MuiListItemButton-root {
  padding: 0;
  width: auto;
  display: flex;
}

.SwapWidgetBox .widgetList {
  width: 100%;
}

.piechartIcon {
  position: relative;
}

.piechartIcon.active::before {
  display: none;
}

.piechartIcon::before {
  content: '';
  position: absolute;
  top: 13px;
  left: 0;
  background: var(--light);
  height: 1px;
  width: 30px;
  transform: rotateZ(-45deg);
  z-index: 9;
}

.dark-mode .piechartIcon::before {
  background: var(--primary);
}

.widgetList ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}

.SwapWidgetBoxTitle h4 {
  font-size: 20px;
  font-weight: 700;
}

.widgetList ul svg {
  width: 22px;
  height: 22px;
  color: var(--cream);
}

body.dark-mode .widgetList ul svg {
  color: var(--primary);
}

.widgetList ul li {
  width: auto;
  cursor: pointer;
}

.slippageSec {
  width: 437px;
  margin-top: 15px;
}

/***************** Home Page Css ****************/

/***************** Common Token Css ****************/

.token_box img {
  width: 25px;
  height: 25px;
  border-radius: 30px;
}

.token_Outer {
  display: flex;
  justify-content: space-between;
}

.token_Outer .token_box {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #91a1a1;

}

.token_Outer p {
  line-height: 2;
  font-size: 14px;
  font-weight: 700;
}

.token_list_item img {
  width: 25px;
  height: 25px;
  border-radius: 30px;
}

.token_list_item {
  gap: 10px;
  margin-bottom: 10px;
}

.token_list {
  max-height: calc(100svh - 400px);
  overflow: auto;
}

.token_title {
  font-weight: 600;
}

.token_desc {
  font-size: 12px;
}

.soil_sec {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  padding: 20px;
}


.unknown_sec {
  padding: 5px 7px;
  background: var(--gray);
  border-radius: 30px;
  font-size: 12px;
  line-height: normal;
  display: flex;
  gap: 5px;
  font-weight: 600;
}


.wallet_tabs {
  position: absolute;
  top: -37px;
  left: 24px;
  padding: 0;
}

.wallet_tabs .MuiTabs-flexContainer button {
  border-radius: 10px 10px 0 0;
  padding: 10px 15px;
  font-weight: 600;
}


.wallet_tabs .MuiTabs-flexContainer button {
  background-color: var(--white);
}


.wallet_tabs .MuiTabs-flexContainer button.Mui-selected {
  background-color: var(--gray) !important;
}

.connectWallet {
  display: flex;
  flex-wrap: wrap;
  background: var(--gray);
  border-radius: 15px;
}

.connect_modal {
  background: var(--gray);
  border-radius: 15px;
  padding: 0;
}

.connectWalletLeft {
  border-radius: 15px;
  flex: 0 50%;
  padding: 24px;
}

.connectWalletList {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 16px;
  max-height: 285px;
  overflow: auto;
  padding: 0;
  margin-top: 25px;
}

.connectWalletList li {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: calc(33.33% - 24px);
  justify-content: center;
  flex-direction: column;

}

.connectWalletList li img {
  width: 50px;
  height: 50px;
}

.w-50 {
  width: 50px;
  height: 50px;
  background: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.more-btn {
  position: absolute;
  bottom: 3px;
  right: 40px;
  width: calc(33.33% - 24px);
  cursor: pointer;
}


.SliderImg img {
  max-width: 200px;
  height: auto;
}

.walletSlider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 370px;
  margin: 0 auto;
  gap: 24px;
}

.Web3Wallet .swiper-pagination {
  position: relative;
  margin-top: 30px;
}


.Web3Wallet .swiper-pagination-bullet {
  height: 8px;
  width: 50px;
  border-radius: 30px;
}

.Web3Wallet .swiper-pagination-bullet-active {
  background-color: var(--primary);
}


.SliderTitle p {
  font-size: 18px;
  color: var(--cream);
}

/***************** Common Token Css ****************/

/***************** Settings Modal ****************/

.Slippage_Tolerance {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;

}

.Slippage_Tolerance .Slippage_items button,
.Slippage_input input {
  border: none;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  max-width: 80px;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
  line-height: 1;
  min-height: 36px;
}


.Slippage_items button.active {
  background: var(--primary);
  color: var(--white);
}

.dark-mode .Slippage_items button.active {
  background: #F7F0DF;
  color: var(--primary);
}


.Slippage_input input:focus {
  outline: none;
  box-shadow: 0px 0px 7px #F6B41B;
}

.lightInput {
  background-color: #F7F0DF;
  color: var(--primary);
}

.lightInput::placeholder {
  color: #173d3d90;
}

.darkInput {
  background-color: #1f4e4e;
  color: var(--white);
  ;
}

.darkInput::placeholder {
  color: #ffffff70;
}

.modalRight>label {
  margin-right: 0;
}


.Slippage_Tolerance:has(.Slippage_items):has(.transFail)+.transFailContent {
  display: block;
}

.transFailContent {
  display: none;
}

.warning-box {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--secondary);
  border-radius: 16px;
  padding: 10px;
  justify-content: space-between;
  background-color: var(--light_clr);
}

.dark-mode .warning-box {
  background-color: var(--secondary-dark);
  border: 1px solid var(--secondary);
}

.dark-mode .warning-box p {
  color: var(--light);
}

/***************** Settings Modal ****************/

/******************  Footer Css  *****************/

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  position: relative;
}

.social_links ul {
  gap: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.social_links ul li {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 10px 10px 0 0;
  background-color: var(--primary);
}

.social_links li a {
  color: var(--cream);
  text-decoration: none;
}

.social_links ul {
  display: flex;
  padding: 0;
}

.social_links ul svg {
  width: 20px;
  height: 20px;
}

/******************  Footer Css  *****************/


/******************  Liquidity Css  *****************/

.w-820 {
  max-width: 820px;
  margin: 0 auto;
}

.Liq_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Liq_mid {
  border: 1px solid var(--cream);
  border-width: 1px 0 1px 0;
  padding: 15px 0;
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.tabsOuter {
  background: var(--light_clr);
  border-radius: 30px;
  max-height: 34px;
}

.tabsOuter button {
  min-height: unset;
  border-radius: 30px !important;
  height: 34px;
  min-width: unset;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
}

.tabsOuter button.Mui-selected {
  background-color: var(--primary);
  color: var(--white);
}

.dark-mode .tabsOuter button.Mui-selected {
  color: var(--primary);
  background: var(--cream);
}

body.dark-mode .tabsOuter button {
  color: var(--cream);
}

body.dark-mode .tabsOuter {
  background: #092626;
}


/******************  Liquidity Css  *****************/


/******************  Add Liquidity Css  *****************/
.al-head {
  padding-bottom: 30px;
  border-bottom: 1px solid #DEDEDE;
}

.al-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.al-inner .al-inner-left {
  flex: 0 calc(50% - 15px);
}

.al-inner .al-inner-right {
  flex: 0 calc(50% - 15px);
}


.token-sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}


.token-pair {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 36px;
  flex: 0 calc(50% - 15px);
  padding: 10px;
  border-radius: 10px;
}


.ft_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.free_tier {
  padding: 15px;
  text-align: center;
  border-radius: 10px;
}


.ftCards_list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 15px;
}

.ftCards {
  padding: 10px;
  flex: 1;
  border-radius: 10px;
  border: 1px solid var(--white);
}

.ftCards.active {
  border: 1px solid var(--cream);
}

/* .free_tier.active .ftcardBoxOuter {
  height: auto; 
  opacity: 1;
  visibility: visible; 
  transition: height 0.5s ease, opacity 0.5s ease;
  display: block;
}

.free_tier .ftcardBoxOuter {
  display: none;
  height: 0;
  opacity: 0; 
  visibility: hidden; 
  transition: height 0.5s ease, opacity 0.5s ease;
} */

.rangeTag {
  display: flex;
  gap: 15px;
  text-align: center;
  margin: 15px 0;
  justify-content: space-between;
}

.ftcardBox.active {
  display: none;
}


/******************  Add Liquidity Css  *****************/

/******************  ROI CALCULATOR Css  *****************/


.daBtnOuter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: row;
}

.daBtnOuter button {
  min-height: unset;
  border-radius: 30px !important;
  height: 34px;
  min-width: unset;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  width: calc(33.33% - 20px);
  background: var(--light_clr);
}

.daBtnOuter button.active {
  background: var(--primary);
  color: var(--white);
}


.historyPrice .toolbar-button {
  width: 100%;
}

.historyPrice .toolbar-button button {
  width: 25%;
}

.roiCalculator  .modal_footer {
  padding: 20px 15px;
  text-align: center;
  border-radius: 16px 16px 0 0 ;
}

.roiList li {
  padding-left: 10px;
  position: relative;
}

.roiList li::before {
  content: '';
  position: absolute;
  height: 4px;
  width: 4px;
  top: 4px;
  left: 0%;
  background: var(--cream);
  border-radius: 50%;
}


.roiCalculator {
  overflow: hidden;
} 
.roiCalculator .modal_body {
  max-height: calc(80vh - 122px);
  overflow: auto;
}


.active.roiCalculator .modal_body {
  max-height: calc(80vh - 342px);
}


.hideBtn {
  height: 0;
  opacity: 0;
  display: none;
  visibility: hidden;
}

.active.roiCalculator .hideBtn {
  height: 100%;
  opacity: 1;
  display: block;
  visibility: visible;
}

.active.roiCalculator  .detailsBtn {
  visibility: hidden;
  opacity: 0;
  display: none;
  height: 0;
}


.commonBadge {
  color: var(--cream);
  border: 2px solid var(--cream);
  padding: 3px 10px;
  border-radius: 30px;
  font-size: 12px;
}


.switchData {
  display: none;
}
.switchData.active {
  display: block;
}

.editBal input {
  padding: 0;
  text-align: center;
  font-size: 14px;
}

/******************  ROI CALCULATOR Css  *****************/

/******************  Responsive CSS  *****************/
@media only screen and (max-width: 1399px) {
  .SwapWidgetSec {
    max-width: calc(100% - 150px);
  }
}



@media only screen and (max-width: 900px) {
  .SwapWidgetBox {
    position: relative;
    top: 50%;
    order: 1;
    transform: translateX(-50%);
    left: 50%;
    margin-top: -60px;
    max-width: 100%;
    margin-bottom: 30px;
    align-items: flex-end;
}

.SwapWidgetSec {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.SwapWidgetInner {
    order: 2;
}

.swap_widgets {
    max-width: 100%;
}

.SwapWidgetBox .SwapWidgetBoxTitle {
    width: 50%;
}

.SwapWidgetBox .widgetList {
    width: 50%;
    max-width: 150px;
    margin-left: auto;
}

.SwapWidgetBox .SwapWidgetBoxTitle p {
    margin-bottom: 0;
}


}
/******************  Responsive CSS  *****************/

