/***************** Common Css ****************/

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Futura Bk BT';
  src: url('/fonts/FuturaBT-Book.eot');
  src: url('/fonts/FuturaBT-Book.eot?#iefix') format('embedded-opentype'),
      url('/fonts/FuturaBT-Book.woff2') format('woff2'),
      url('/fonts/FuturaBT-Book.woff') format('woff'),
      url('/fonts/FuturaBT-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura Md BT';
  src: url('/fonts/FuturaBT-Medium.eot');
  src: url('/fonts/FuturaBT-Medium.eot?#iefix') format('embedded-opentype'),
      url('/fonts/FuturaBT-Medium.woff2') format('woff2'),
      url('/fonts/FuturaBT-Medium.woff') format('woff'),
      url('/fonts/FuturaBT-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura Hv BT';
  src: url('/fonts/FuturaBT-Heavy.eot');
  src: url('/fonts/FuturaBT-Heavy.eot?#iefix') format('embedded-opentype'),
      url('/fonts/FuturaBT-Heavy.woff2') format('woff2'),
      url('/fonts/FuturaBT-Heavy.woff') format('woff'),
      url('/fonts/FuturaBT-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Epilogue", sans-serif;
  font-size: 14px;
  font-weight: 500;
}


:root {
  --primary: #173D3D;
  --white: #ffffff;
  --black: #000000;
  --light: #FFE6A8;
  --secondary: #F6B41B;
  --light_clr: #F7F0DF;
  --creame_clr: #D1AC70;
}

.modal_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed rgba(145, 158, 171, 0.7);
  padding: 24px;
  padding-bottom: 10px;
}

.modal_body {
  padding: 15px 24px;
}

.modalTitle {
  font-size: 1.25rem;
  font-weight: 500;
}

.closeIcon {
  position: absolute;
  right: 10px;
  top: 5px;
  line-height: normal;
  cursor: pointer; 
}



/***************** Common Css ****************/



/***************** Home Page Css ****************/

.chart_bottom h1 {
  font-size: 32px;
  font-weight: 700;
}

.chart_bottom h4 {
  font-size: 20px;
  font-weight: 700;
}

.chart_data {
  font-family: "Epilogue", sans-serif;
}


.chart_actions button.active {
  background: #173D3D;
}

.chart_actions .MuiButton-contained {
  background: var(--primary);
  color: var(--white);
  border: unset;
}

.chart_actions button {
  border: unset;
}

.chart_actions {
  background: var(--light_clr);
  border-radius: 30px;
}


body.dark-mode .white_box {
  background: var(--primary);
  color: var(--white);
}

.swap_graph_sec {
  padding-top: 50px;
}

.white_box {
  padding: 30px;
  background: var(--white);
  border-radius: 20px;
}

.toolbar-button {
  background: var(--light_clr);
  display: inline-block;
  border-radius: 30px;
}

body.dark-mode .toolbar-button {
  background:  #092626;
}

body.dark-mode .toolbar-button button {
  color: var(--creame_clr);
}

body.dark-mode .toolbar-button button.active {
  background:  var(--creame_clr);
  color: var(--primary);
}


.toolbar-button button {
  background: unset;
  border: unset;
  padding: 5px;
  font-weight: 700;
  color: var(--primary);
  font-size: 14px;
  padding: 10px 15px;
}

.toolbar-button button.active {
  background: var(--primary);
  border-radius: 30px;
  color: var(--white);
}

.chart_title svg, .chart_resize svg {
  fill: var(--creame_clr);
  width: 21px;
  height: 21px;
  cursor: pointer;
  stroke: var(--creame_clr);
}


.SwapWidgetInner .inputBox .inputField {

  background: var(--light_clr);
  padding: 10px;
  border-radius: 10px;
}

.SwapWidgetInner {
  display: flex;
  justify-content: space-between;
  max-width: 970px;
}

.SwapWidgetInner .inputBox input{
  width: 100%;
  font-size: 14px;
  border: unset;
  background-color: transparent;
}

.SwapWidgetInner .inputBox input:focus-visible {
  border: unset;
  outline: unset;
}

.swapData svg {
  width: 18px;
  height: 18px;
}

.swapData {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--creame_clr);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.arrowBox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.SwapWidgetBox {
  padding: 20px;
  position: absolute;
  background: var(--primary);
  top: 0;
  border-radius: 20px;
  color: var(--white);
  bottom: unset;
  margin-right: -40px;
  margin-top: -24px;
  right: 0;
  flex-wrap: wrap;
  display: inline-flex;
  max-width: 190px;
}

body.dark-mode .SwapWidgetBox {
  background: var(--light);
  color: var(--primary);
}

.widgetList ul .MuiButtonBase-root.MuiListItemButton-root {
  padding: 0;
  width: auto;
  display: flex;
}

.SwapWidgetBox .widgetList {
  width: 100%;
}

.piechartIcon {
  position: relative;
}

.piechartIcon.active::before {
display: none;
}

.piechartIcon::before {
  content: '';
  position: absolute;
  top: 13px;
  left: 0;
  background: var(--light);
  height: 1px;
  width: 30px;
  transform: rotateZ(-45deg);
  z-index: 9;
}

.widgetList ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}

.SwapWidgetBoxTitle h4 {
  font-size: 20px;
  font-weight: 700;;
}
.widgetList ul svg {
  width: 24px;
  height: 24px;
  color: var(--light);
}

body.dark-mode .widgetList ul svg {
  color: var(--primary);
}

.widgetList ul li {
  width: auto;
  cursor: pointer;
}

.slippageSec {
  width: 437px;
  margin-top: 15px;
}
/***************** Home Page Css ****************/




/******************  Footer Css  *****************/

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  position: relative;
}

.social_links ul {
  gap: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.social_links ul li {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 10px 10px 0 0;
  background-color: var(--primary);
}

.social_links li a {
  color: var(--creame_clr);
  text-decoration: none;
}

.social_links ul {
  display: flex;
  padding: 0;
}

.social_links ul svg{
  width: 20px;
  height: 20px;
}

/******************  Footer Css  *****************/